html,
body {
  margin: 0;
  line-height: normal;
  height: 100%;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-source-sans-pro: 'Source Sans Pro';
  --body-2: Poppins;
  --button-2: 'DM Sans';
  --font-inter: Inter;

  /* font sizes */
  --hairline-2-size: 12px;
  --body-2-size: 16px;
  --button-2-size: 14px;
  --font-size-29xl: 48px;
  --font-size-31xl: 50px;
  --font-size-sm-6: 13.6px;
  --font-size-smi-6: 12.6px;
  --font-size-lg: 18px;
  --font-size-mini: 15px;
  --font-size-mid: 17px;
  --font-size-sm-5: 13.5px;
  --font-size-3xl: 22px;
  --font-size-16xl: 35px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-lightgray-100: #ccc;
  --gray-scale-white: #fff;
  --color-darkslategray-100: #353945;
  --text: #2f2f2f;
  --primary-3: #ef466f;
  --red-2: #ee272e;
  --grey: #ececec;
  --ios-safari-bars-background-light: rgba(248, 248, 248, 0.88);
  --red: #ee575c;
  --black: #000;
  --color-dimgray-100: #676767;
  --color-dimgray-200: #5c5c5c;
  --color-dimgray-300: #555;
  --text-2: #515151;
  --neutrals-6: #e6e8ec;
  --neutrals-8: #fcfcfd;
  --color-gray-100: #7e7e7e;
  --color-gray-200: #272b38;
  --neutrals-2: #23262f;
  --color-gray-300: #21232a;
  --primary-4: #45b36b;
  --green: #45b26b;
  --color-linen: #f5ece2;
  --color-cornflowerblue: #456ab3;
  --primary-1: #3772ff;
  --ios-active-color: #007aff;
  --color-darkgray-100: #aeaeae;
  --ios-inactive-color: #a3a3a3;
  --gray-scale-gray-400: #999;
  --ios-safari-address-field-background: rgba(189, 189, 189, 0.4);

  /* Gaps */
  --gap-mini: 15px;
  --gap-xl: 20px;
  --gap-xs: 12px;
  --gap-smi-6: 12.6px;
  --gap-136xl: 155px;
  --gap-8xs-2: 4.2px;
  --gap-lg-8: 18.8px;
  --gap-xs-3: 11.3px;
  --gap-9xs: 4px;
  --gap-8xs: 5px;
  --gap-6xl: 25px;
  --gap-125xl: 144px;

  /* Paddings */
  --padding-2xs: 11px;
  --padding-15xl: 34px;
  --padding-5xs: 8px;
  --padding-3xs: 10px;
  --padding-7xs: 6px;
  --padding-lg: 18px;
  --padding-27xl: 46px;
  --padding-2xl: 21px;
  --padding-mini: 15px;
  --padding-4xs-4: 8.4px;
  --padding-6xs-3: 6.3px;
  --padding-xs-3: 11.3px;
  --padding-smi-6: 12.6px;
  --padding-base-8: 16.8px;
  --padding-8xs: 5px;
  --padding-10xs: 3px;
  --padding-xs: 12px;

  /* Border radiuses */
  --br-81xl: 100px;
  --br-5xl: 24px;
  --br-3xs: 10px;
  --br-xl: 20px;
  --br-9xs: 4px;
  --br-base: 16px;
  --br-237xl: 256px;
  --br-13xl: 32px;
  --br-base-8: 16.8px;
  --br-8xs-2: 4.2px;
  --br-14xl-5: 33.5px;
  --br-75xl-4: 94.4px;
  --br-31xl: 50px;

  /* Effects */
  --depth-1: 0px 8px 16px -8px rgba(15, 15, 15, 0.2);
}

.profile_root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.profile {
  flex-grow: 1;
  width: 100%;
}

.auth-card {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  width: 100%;
  gap: 30px;
}

.auth-card img {
  width: 66px;
  height: 83px;
}
.auth-card .buttons {
  width: 100%;
  max-width: 331px;
  display: grid;
  gap: 1rem;
}

.auth-card button {
  width: 100%;
  padding: 1rem 4rem;
  border-radius: 1rem;
  border: 1px solid #ee575c;
  color: #ee575c;
  font-size: 14px;
  cursor: pointer;
}

.auth-card button:hover {
  background-color: #ee575c;
  color: #fff;
}

.auth-card .unauthented-headline {
  font-weight: 500;
  font-size: 1.5rem;
  color: #686868;
}

.textfield {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.textfield label {
  font-size: 14px;
  font-weight: 400;
  color: #868686;
}
.textfield input {
  width: 100%;
  padding: 0.75rem;
  font-size: 14px;
  font-weight: 400;
  border: none;
  outline: none;
  color: #2f2f2f;
}

.textfield .input-icon {
  display: flex;
  align-items: center;
  border: 1px solid #ececec;
  padding: 0 15px;
  border-radius: 15px;
}

.textfield .input-icon img {
  width: 20px;
  height: 20px;
}

.sign-up-modal-fields {
  display: grid;
  gap: 20px;
}

#sign-up-second-helper-text {
  color: red;
  font-size: 12px;
}

.sign-up-modal-fields button {
  padding: 13.5px 0;
  border-radius: 15px;
  background-color: #ee575c;
  border: none;
  color: #fff;
  cursor: pointer;
}

.sign-up-modal-fields button:hover {
  background-color: #ee575ce2;
}
.sign-up-modal-fields button:disabled {
  background: #d5d5d5;
  color: #4d4d4d;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 480px;
  width: 100%;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 101; /* Above backdrop */
  display: none;
  overflow: hidden;
}

.modal .content {
  width: 100%;
  flex-shrink: 0;
}

.modal-slider {
  display: flex;
  transition: transform 0.6s ease;
  width: 200%;
}

.change-password-modal-slider {
  display: flex;
  transition: transform 0.6s ease;
  width: 300%;
}

#change-password-modal-code-input {
  font-size: 30px;
  line-height: 27px;
  font-weight: 400;
  text-align: center;
  color: #222222;
}

#change-password-modal-code-input::placeholder {
  color: #c2c2c2;
}

#send-code-again-via {
  text-align: center;
}

#send-code-again-via span {
  color: #ee575c;
}

#send-code-again-text {
  text-align: center;
  color: #ee575c;
  cursor: pointer;
}

.close-change-password-modal img {
  cursor: pointer;
}

#profile-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.product-item {
  border: 0.85px solid #eeeeee;
  cursor: pointer;
  border-radius: 12px;
}

.product-item:hover {
  box-shadow: inset 0 -3em 3em rgba(247, 248, 247, 0.3), 0 0 0 2px white,
    0.3em 0.3em 1em rgba(241, 240, 240, 0.6);
}

.product-order-item {
  border-bottom: 1px solid #eee;
  padding: 30px 0;
}

.product-order-item:last-of-type {
  border-bottom: none;
}

.product-order-item-img img {
  width: 48px;
  height: 48px;
}

.product-item-image {
  position: relative;
}

.product-order-item-img {
  border-radius: 10px;
  border: 0.5px solid #eee;
}

.product-item-image > img {
  aspect-ratio: 1/1;
  width: 100%;
}

.product-item-image-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.icon {
  background-color: #ee575c;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-add-icon {
  width: 20px;
  height: 20px;
}

.circle {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: red;
  border: 0.5px solid #eee;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.product-order-item-price {
  color: #ee575c;
  font-size: 18px;
  font-weight: 600;
}

.product-order-item-title {
  color: #8f8f8f;
  font-size: 12px;
  font-weight: 500;
}

.product-item-size {
  font-size: 12px;
  font-weight: 400;
  color: #777777;
}

.product-item-price {
  font-weight: 600;
  font-size: 20px;
}

.product-item-title {
  font-size: 14px;
  font-weight: 500;
  color: #222222;
  margin-bottom: 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100; /* Behind modal */
  display: none; /* Hidden by default */
}

.user-avatar {
  border: 1px solid #ddd;
  border-radius: 50%;
  position: relative;
}

.user-avatar > img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.user-avatar-upload-camera {
  position: absolute;
  right: 0;
  bottom: 0;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.items-center {
  align-items: center;
}

.items-flex-end {
  align-items: flex-end;
}

.items-content-space {
  align-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-space {
  justify-content: space-between;
}

.justify-flex-end {
  justify-content: flex-end;
}

.gap-1 {
  gap: 1rem;
}

.gap-05 {
  gap: 0.5rem;
}

.gap-2 {
  gap: 2rem;
}

.p-1 {
  padding: 1rem;
}

.p-3 {
  padding: 3rem;
}
.p-2 {
  padding: 2rem;
}

.px-1 {
  padding: 0 1rem;
}

.py-1 {
  padding: 1rem 0;
}
.py-3 {
  padding: 3rem 0;
}

.none {
  display: none;
}

@media only screen and (max-width: 1200px) {
  #profile-products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .profile__info {
    flex-direction: column;
  }
}

.product-order-item-action {
  flex-direction: column;
  gap: 0.5rem;
}

.product-order-item-color {
  flex-direction: column;
  align-items: flex-start;
}

#profile-history-order {
  padding: 2rem;
}

.drawer-mobile {
  position: fixed;
  top: 0;
  left: 100%;
  right: 0;
  bottom: 0;
  background-color: #ee575c;
  padding: 1rem;
  transition: left 0.3s ease-in-out;
}

.drawer-mobile-head {
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 1rem;
  margin-bottom: 50px;
}

.nav-link {
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  margin-bottom: 28px;
}

.nav-search-icon {
  padding: 8px;
  background-color: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.nav-cart-icon {
  padding: 7px 12px;
  background-color: #ececec;
  border-radius: 100px;
  display: flex;
  line-height: 18px;
  font-size: 12px;
  gap: 7px;
}

.drawer-mobile-head-menu {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.nav-cart-icon-badge {
  background-color: #ee575c;
  border-radius: 50%;
  padding: 4px 10px;
  color: #fff;
}

.nav-search-icon img {
  width: 16px;
  height: 16px;
  aspect-ratio: 1/1;
}

.nav-search-icon > a {
  height: 16px;
}
.desktop-cart-icon-badge {
  position: absolute;
  top: -12px;
  right: -6px;
  font-size: 8px;
  padding: 2px 4px;
}
.mobile-nav-icons {
  display: none;
}

.footer-phone-number-or-phone-number {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
}

.footer-phone-number {
  background-color: #21232a;
  padding: 5px;
  border-bottom: 1px solid #b52020;
  font-size: 14px;
}

/* Basic Styles */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  position: relative;
  margin: 0;
}

.nav__left,
.nav__center,
.nav__right {
  display: flex;
  align-items: center;
}

.nav__left img,
.nav__right img {
  max-width: 100px;
  cursor: pointer;
}

.nav__center div {
  margin: 0 15px;
}

.nav__center a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav__right {
  display: flex;
  align-items: center;
}

.nav__right-search {
  margin-right: 15px;
}

.nav__right-cart {
  display: flex;
  align-items: center;
}

.nav__right-img {
  position: relative;
}

.nav__right-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: #ff0000;
  color: #fff;
  border-radius: 50%;
  padding: 3px 7px;
  font-size: 12px;
}

.nav__menu {
  display: none;
  width: 30px;
  cursor: pointer;
}

/* Mobile Menu Toggle */
.nav__menu.active {
  display: block;
}

.nav__center a {
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

.nav__logo-mob {
  display: block;
}

/* Basic Footer Styles */
.footer {
  font-family: 'Arial', sans-serif;
  color: #333;
}

.container__center {
  max-width: 1200px;
  margin: 0 auto;
  width: 95%;
}

.footer__top {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 40px 0;
  margin-top: 2rem;
  gap: 0.5rem;
}

.footer__main {
  width: 100%;
  margin-top: 2.5rem;
}

.profile__info-right {
  padding: 0;
  border: 0;
}

.footer__main img {
  max-width: 150px;
  margin-bottom: 15px;
}

.footer__main p {
  margin: 10px 0;
  line-height: 1.5;
}

.footer__nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
}

.footer__nav div h6 {
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.footer__nav div p {
  margin: 5px 0;
}

.footer__bottom {
  gap: 0;
  padding: 17.5px;
}

.footer-bottom-certificate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__bottom img {
  max-width: 120px;
}

.footer__bottom p {
  margin: 0;
  font-size: 14px;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .nav__logo-desktop {
    display: none;
  }
  .footer__top {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .nav {
    background-color: #ee575c;
  }

  .nav__menu {
    display: block;
  }

  .nav__center {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .footer-phone-number-or-phone-number {
    max-width: 600px;
  }

  .footer__main {
    margin-bottom: 30px;
    justify-content: center;
    display: grid;
    justify-items: center;
  }

  .footer__nav {
    justify-content: center;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .nav__logo-desktop {
    display: none;
  }

  .profile__info-fav {
    gap: 0;
  }

  .footer__nav {
    text-align: left;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  .footer__bottom {
    flex-direction: column;
    gap: 15px;
  }

  .mobile-nav-icons {
    display: flex;
  }

  .nav__left img.nav__logo {
    display: none;
  }

  .nav__left img.nav__logo-mob {
    display: block;
    max-width: 120px;
  }

  .nav__center div {
    margin: 10px 0;
  }

  .nav__right {
    display: none;
  }

  .nav.active .nav__center,
  .nav.active .nav__right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .footer__main img {
    max-width: 120px;
  }

  .footer__nav div h6 {
    font-size: 16px;
  }

  .footer__nav div p {
    font-size: 14px;
  }

  .footer__bottom img {
    max-width: 100px;
  }

  .footer__bottom p {
    font-size: 12px;
  }

  .product-item {
    padding: 2px;
  }

  .profile__info-rightLinks {
    gap: 0;
    justify-content: space-between;
  }

  .profile__info-fav {
    gap: 10px;
  }

  .sign-up-modal-fields {
    padding: 1rem;
  }

  .modal {
    width: 95%;
  }
}
