.banner {
  height: 100%;
  grid-template-columns: 1fr 1fr;
}

.banner-headlines {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.banner-headlines h1 {
  font-weight: 700;
  font-size: 55px;
  margin: 0;
}

.banner-paragraph {
  color: #515151;
}

.banner-paragraph span {
  font-weight: 700;
}

.banner-action {
  margin-top: 53px;
}

.banner-action .button {
  width: auto;
  padding: 11.5px 34px;
  border-radius: 100px;
  font-weight: 600;
  font-size: 16px;
}

.banner-eco {
  margin-bottom: 56px;
  display: flex;
  align-items: flex-end;
}

.banner-eco p {
  width: 65%;
  margin: 0;
}

.banner-slider-image {
  padding: 1rem;
}
.banner-slider-image img {
  width: 100%;
  aspect-ratio: 1/1;
}

.banner-bottom {
  background: #d25358;
  margin-top: 2rem;
}

.banner-bottom-navigate {
  grid-template-columns: 1fr 2fr;
}

.banner-bottom-navigate .images {
  grid-template-columns: repeat(5, 1fr);
  padding: 1rem;

  position: relative;
  bottom: 1.8rem;
}

.banner-bottom-navigate .images img {
  width: 100%;
  aspect-ratio: 1/1;
}

.banner-bottom-navigate-current-page span {
  color: #fff;
}

.banner-slider-image img {
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease-in-out;
}

.slider-image {
  cursor: pointer;
  opacity: 0.9;
}

.slider-image.active {
  opacity: 1;
}

.slider-image:hover {
  opacity: 0.75;
}

#prev-slide,
#next-slide {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .banner-headlines h1 {
    font-size: 40px;
  }
  .banner-paragraph {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .banner-headlines h1 {
    font-size: 30px;
  }

  .banner-bottom-navigate .images {
    padding: 1rem 0;
  }

  .banner-action {
    display: none;
  }
  .banner-eco {
    display: none;
  }

  .banner {
    grid-template-columns: 1fr;
  }

  .banner-slider-image {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 0;
  }

  .banner-navigation-buttons {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
    justify-content: center;
    place-content: end;
    place-items: center;
  }
  .banner-navigation-buttons img {
    fill: #d25358 !important;
    color: #d25358 !important;
    stroke: #d25358 !important;
    width: 70%;
  }

  .thumbs-navigation-icons {
    display: none !important;
  }

  .banner-bottom-navigate {
    grid-template-columns: 1fr;
  }

  .banner-bottom-navigate .banner-eco {
    display: flex !important;
    align-items: center;
  }

  .banner-bottom {
    background: none;
  }
}

@media (max-width: 480px) {
  .footer__top {
    display: block;
  }
}
